<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <style>
        .banner {
            justify-content: center;
            align-items: center;
            position: relative;
            background: transparent;
        }
        h2 .heading{
            font-weight: 200;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: pink;
        }
        h3 {
            color: aqua;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <div class="banner">
        <h2 class="heading">Sucess!!!</h2>
        <h3>{{ prediction_text }}</h3>
    </div>
</body>
</html>